* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.encabezado {
    font-family: 'Century Gothic', sans-serif;
}

.header ul {
    list-style: none;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    text-align: right;
}

.header ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 300ms;

}

.nombre {
    float: left;
    color: white;
    padding-top: 17px;
    padding-left: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*nav ul li{
    display: inline-block;
    padding: 200px;
    transition: all ease-in-out 300ms;
}*/

.header ul li a {
    color: white;
    text-decoration: none;
}

.header ul li:hover {
    background: black;
}

.hide {

    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    padding: 20px;
    cursor: pointer;
    display: none;
}



/**************Comienzo de la seccion de "Descripcion"***************/

.Descripcion {
    padding-top: 10%;
    color: rgb(63, 63, 63);
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Century Gothic', sans-serif;
}

.titulo {
    font-size: 50px;
    font-weight: 600;
}

.narracion {
    color: rgb(90, 90, 90);
    font-size: 20px;
    padding-top: 3%;
}

.face {
    float: right;
    width: 30%;
    border-radius: 100px;
    padding-left: 2%;
}

.redesSociales {
    padding-top: 3%;
}

.redesSociales ul {
    list-style: none;
}

.redesSociales ul li {
    display: inline-block;
    padding: 10px;
    transition: all ease-in-out 300ms;

}

.redesSociales ul li a {
    color: rgb(90, 90, 90);
    text-decoration: none;
}

.redesSociales img {
    width: 3%;
}

/**************Comienzo de la seccion de "Sobre mi"***************/
.sobremi {
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    
    padding-left: 8%;
    padding-right: 35%;
    font-family: 'Century Gothic', sans-serif;
}

.title {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: 500
}

.desc {
    padding-top: 2%;
    text-align: justify;
}

/***************seccion "Skills y Hobbies"***************/
.skills {
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 6%;

}

.skills .title {
    text-align: center;
    font-weight: 600;
    padding-bottom: 5%;
}

.contenedor {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-bottom: 3%;
}

.contenedor img {
    width: 150px;
    padding-right: 25px;
    padding-left: 25px;

}

.contenedor p {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    text-align: center;
}

/***************seccion "Formación académica"***************/
.academica {
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'Century Gothic', sans-serif;
}

.academica p {
    text-align: center;
    padding-bottom: 2%;
    color: rgb(0, 0, 0);
}

.formacion {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    justify-content: center;
    padding-bottom: 2%;
}

.formacion img {
    width: 400px;
    height: 280px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
}

/***************seccion "Experiencia profesional"***************/
.experiencia,
.experiencia2 {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 25%;

}

.experiencia img {
    float: left;
    width: 600px;
    height: 350px;
    padding-right: 3%;
    padding-bottom: 3%;
}

.experiencia2 img {
    float: right;
    width: 600px;
    height: 350px;
    padding-bottom: 3%;
}

.btn .sub {
    font-size: 80%;
}
.btn p {
    text-align: justify;
    padding-bottom: 1%;
}

button {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.profesional {
    padding-top: 3%;
}

.repo {
    color: blue;
    border-color: blue;
    background: white;
    cursor: pointer;
    border-radius: 50px;
}

.repo:hover,
.demo:hover {
    color: white;
    border-color: blue;
    background: black;
}

.demo {
    color: white;
    border-color: blue;
    background: blue;
    cursor: pointer;
    border-radius: 50px;
}

/***************seccion "Contacto"***************/

.contacto {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
    padding-top: 5%;
    font-family: 'Century Gothic', sans-serif;
    background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
}

.contacto img {
    float: left;
    width: 50%;
    height: 550px;
    padding-right: 2%;
}

.contacto .titulo {
    color: black;
    font-size: 200%;
    padding-bottom: 1%;

}

.contacto p {
    font-size: 15px;
}

.contacto .entrada, .entradasms {
    color: black;
    text-align: justify;
    font-size: 17px;
    width: 50%;
    height: 35px;
    padding-left: 1%;
}
.entradasms{
    height: 120px;
}

.contacto .aprt {
    padding-top: 2%;
    font-size: 17px;
    padding-right: 2%;
}



/***************Comienzo de Responsive***************/

@media (max-width: 1089px) {
    .header ul li {
        padding: 7px;

    }

    .header ul {
        padding: 2%;
    }

    .nombre {
        padding-left: 3%;
        padding-top: 5px;
    }
}

@media (max-width: 880px) {
    .header ul li {
        padding: 2px;

    }

    .nombre {
        padding-left: 2%;
    }
}

@media (max-width: 822px) {
    .header ul li {
        width: 100%;
        padding: 16px;
        text-align: left;
    }

    .header ul {
        display: none;
    }

    .hide {
        display: block;
    }

    .hide img {
        width: 6%;
    }

    .menu {
        padding-left: 8%;
        padding-top: 3px;
        font-family: 'Century Gothic', sans-serif;
        color: white;
    }

    /**************Comienzo de la seccion de "Descripcion"***************/
    .titulo {
        font-size: 30px;
    }

    .narracion {
        font-size: 20px;
    }

    /**************Comienzo de la seccion de "Sobre mi"***************/
    .sobremi {
        padding-right: 8%;
    }

    .title {
        font-size: 25px;
    }

    .desc {
        font-size: 15px;
    }

}

@media (max-width: 450px) {
    .header ul li {
        width: 100%;
        padding: 16px;
        text-align: left;
    }

    .header ul {
        display: none;
    }

    .hide {
        display: block;
    }

    .hide img {
        width: 10%;
    }

    .menu {
        padding-left: 12%;
        padding-top: 3px;
        font-family: 'Century Gothic', sans-serif;
        color: white;
    }


    /**************Comienzo de la seccion de "Descripcion"***************/
    .titulo {
        font-size: 22px;
    }

    .narracion {
        font-size: 17px;
    }

    /**************Comienzo de la seccion de "Sobre mi"***************/
    .sobremi {
        padding-right: 8%;
    }

    .title {
        font-size: 22px;
    }

    .desc {
        font-size: 12px;
    }
/*******************************************/
    .formacion img {
        width: 290px;
        height: 190px;
        
    }

    .experiencia img, .experiencia2 img {
        width: 350px;
        height: 200px;
        float: none;
    }
    
    button {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .contacto img {
        width: 50%;
        height: 320px;
    }

    .contacto .titulo {
        font-size: 100%;
    
    }
    
    .contacto p {
        font-size: 10px;
    }
    
    .contacto .entrada, .entradasms {
        font-size: 10px;
        width: 50%;
        height: 20px;
    }
    .entradasms{
        height: 40px;
    }
    
    .contacto .aprt {
        font-size: 10px;
    }

    .contacto {
        padding-bottom: 20%;
    }


    
}